html {
    font-family: 'Nunito', sans-serif;
    min-height: 100vh;
    max-width: 1280px;
    background-color: white;
    margin: 0 auto;
}
body{
    margin: 0px !important;
    background-color: white;
    border: 1px solid #ddd;
}

/* 
.page-container{
     margin-bottom: 70px; 
} */

/* .nav{

} */

nav{
    background-color: #222222;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
nav .logo {

    display: flex;
    align-items: center;
}
nav .logo img {
    width: 56px;
    height: 56px;
    padding: 8px;
    border-radius: 50%;
}

nav .logo .title {
    color: white;
    font-size: 24px;
    font-weight: bold;
    padding-left: 20px;
}
nav ul{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    list-style: none;
}
nav ul li {
    color: white;
    padding: 22px 40px;
    background-color: #333333;
}
nav ul li:hover {

    background-color: #222222;
}

nav ul li.active {
    background-color: #222222;
}
nav ul li a {
    color: white;
    text-decoration: none;
}
/* Tablets */
@media all and (max-width: 800px) {
    nav{
        justify-content: flex-start;
    }
    nav ul {
        justify-content: space-between;
    }
}
/* Phones */
@media all and (max-width: 600px) {
    nav{
        flex-direction: column;
        align-items: center;
    }
    nav ul{
        width: 100%;
        flex-direction: column;
        align-items: stretch;
    }
    nav ul li {
        text-align: center;
    }
}

.banner{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 450px;
    background-image: url(https://unsplash.it/900/450/?blur);
    background-size: cover;
    background-color: #333333;
    text-align: center;
}

@keyframes appear {
    from{
        opacity: 0.0;
        top: -100px;
    }
    to{
        opacity: 1.0;
        top: 0.0;
    }
}
.banner .heading {
    flex: 1;
    justify-self: center;
    color: white;
    font-size: 3em;
    font-weight: bold;
    position: relative;
    animation: appear 1s ease-in-out 0s forwards;
}

.banner .heading small {
    font-size: 24px;
}
.maintext{
font-size: 18px;
padding: 12px;
}
.subtext {
    display: flex;
}
.subtext div{
    padding: 20px;
    margin: 10px;
    border-radius: 10px;
    color: white;

}

.subtext .red {
    background-color: #ff6363;
}

.subtext .yellow {
    background-color: #f0a500;
}
.subtext .green {
    background-color: #1eb2a6;
}

.quote {
    display: block;
    background-color: #eeeeee;
    padding: 50px;
    text-align: center;
    font-style: italic;

}
.quote::before{
    display: inline-block;
    content: open-quote;
    color: #d3d3d3;
    font-size: 32px;
}
.quote::after{
    display: inline-block;
    content: close-quote;
    color: #d3d3d3;
    font-size: 32px;
}

.footer {
    /* position:relative; */
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #333333;
    color: white;
    text-align: center;
    padding: 24px;

}
